[submodule "src/3rdParty/stb"]
	path = src/3rdParty/stb
	url = https://github.com/nothings/stb
[submodule "src/3rdParty/cereal"]
	path = src/3rdParty/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "src/3rdParty/imgui"]
	path = src/3rdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "src/3rdParty/im3d"]
	path = src/3rdParty/im3d
	url = https://github.com/Vazquinhos/im3d.git
[submodule "src/3rdParty/json"]
	path = src/3rdParty/json
	url = https://github.com/miloyip/rapidjson.git
[submodule "src/3rdParty/sol2"]
	path = src/3rdParty/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "src/3rdParty/luajit-2.0"]
	path = src/3rdParty/luajit-2.0
	url = http://luajit.org/git/luajit-2.0.git
[submodule "src/3rdParty/anax"]
	path = src/3rdParty/anax
	url = https://github.com/miguelmartin75/anax.git
[submodule "src/3rdParty/bimg"]
	path = src/3rdParty/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "src/3rdParty/bx"]
	path = src/3rdParty/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "src/3rdParty/bgfx"]
	path = src/3rdParty/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "src/3rdParty/tinyformat"]
	path = src/3rdParty/tinyformat
	url = https://github.com/c42f/tinyformat.git
[submodule "src/3rdParty/rapidjson"]
	path = src/3rdParty/rapidjson
	url = https://github.com/miloyip/rapidjson.git
